<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.database.mybatis.mappers.SchoolMapper">

    <resultMap id="resultSchool" type="net.thumbtack.school.database.model.School">
        <id property="id" column="school_id"/>
        <result property="name" column="shool_name"/>
        <result property="year" column="year"/>
        <collection property="groups" column="id" javaType="java.util.List"
                    ofType="net.thumbtack.school.database.model.Group">
            <result property="id" column="group_id"/>
            <result property="name" column="group_name"/>
            <result property="room" column="room"/>
            <collection property="subjects" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Subject">
                <result property="id" column="subject_id"/>
                <result property="name" column="subject_name"/>
            </collection>
            <collection property="trainees" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Trainee">
                <result property="id" column="trainee_id"/>
                <result property="firstName" column="firstname"/>
                <result property="lastName" column="lastname"/>
                <result property="rating" column="rating"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getAllUsingJoin" resultMap="resultSchool">
        SELECT
            sc.id   as school_id,
            sc.name as shool_name,
            year,
            gr.id   as group_id,
            gr.name as group_name,
            room,
            tr.id   as trainee_id,
            firstname,
            lastname,
            rating,
            su.id   as subject_id,
            su.name as subject_name
        FROM school sc
            JOIN groups gr on gr.schoolId = sc.id
            LEFT JOIN trainee tr ON tr.groupId = gr.id
            JOIN subject su
        WHERE su.id IN (SELECT subjectId
                        FROM group_subject
                        WHERE group_subject.groupId = gr.id)
    </select>
</mapper>